@import "../../../../styles/variables";
@import "../../../../styles/breakpoints";

.container {
  margin: 30px 30px 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
}

.icon {
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position:absolute;
  height: 50px;
  font-size: 50px;
  margin: 0 auto;
  color: $light;
}

.headline {
  text-align: center;
  font-size: 1.5rem;
  color: $dark;
  min-height: 50px;
}

.text {
  max-width: 300px;
  text-align: center;
}
