.imageContainer {
  position: relative;
}

.blurImage {
  filter: blur(25 px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  object-fit: cover;
  top: 0;
  left: 0;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
