@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-top: 200px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: $secondary;
    z-index: -99;
  }
}

.logo {
  position: relative;
  top: -100px;
  width: 150px;
  margin-bottom: -100px;
}

.consulting {
  color: $light;
  font-weight: normal;
  font-size: 1.2rem;
  @include respond-to($gt-sm) {
    font-size: inherit;
  }
}

.row {
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
  @include respond-to($gt-sm) {
    flex-direction: row;
    padding: 30px;
  }
  width: 100%;
}

.social {
  margin-bottom: 30px;
  @include respond-to($gt-sm) {
    margin-left: 60px;
  }
}

.nav {
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include respond-to($gt-sm) {
    justify-content: flex-end;
  }
}

.legal {
  text-align: center;
}
