@import "../../../../styles/variables";
@import "../../../../styles/breakpoints";

$bottom: -0.27em;
$top: -0.39em;

.heading {
  position: relative;
  font-weight: normal;
  text-align: center;
  font-size: 2rem;
  @include respond-to($gt-sm) {
    font-size: 3rem;
  }
  box-shadow:
          inset 0 $bottom white,
          inset 0 $top $primary
}

//.heading::after {
//  content: "";
//  position: absolute;
//  top: 75%;
//  height: 5px;
//  width: 100%;
//  left: 0;
//  background-color: green;
//  z-index: -1;
//}

.primary{
  box-shadow:
          inset 0 $bottom $light,
          inset 0 $top $primary
}

.secondary {
  box-shadow:
          inset 0 $bottom $light,
          inset 0 $top $secondary
}

.accent {
  box-shadow:
          inset 0 $bottom $light,
          inset 0 $top $accent
}
