@import "../../../styles/breakpoints";

.component {
  margin: 20px 20px 150px;
  padding: 20px 10px;
  box-sizing: border-box;

  @include respond-to($gt-sm) {
    margin: 50px 50px 150px;
    padding: 50px 0;
  }
}
