@import "../../../styles/breakpoints";

.container {
  margin-top: 15vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  @include respond-to($gt-sm) {
    width: 98vw;
    flex-direction: row;
    justify-content: space-between;
  }
}


.text {
  margin-left: 15px;
  margin-top: 5px;
  @include respond-to($gt-sm) {
    margin-left: 100px;
    margin-top: 50px;
  }
}


.graphic {
  width: fit-content;
  align-self: flex-end;
  @include respond-to($gt-sm) {
    position: relative;
    transform: scale(1.0);
  }
}
