.container {
  position: relative;
  max-width: 500px;
  max-height: 500px;
  min-width: 320px;
  min-height: 320px;
  height: 100%;
  width: 100%
}

.blob {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.list {
  list-style: none;
  position: absolute;
  left: 5%;
  top: 27%;
}

.item {
  display: flex;
  align-items: center;
  margin: 20px;
  font-weight: bold;
  &Text {
    margin-left: 10px;
  }
}
