@import "../../../../styles/variables";
@import "../../../../styles/breakpoints";

$bottom: -0.27em;
$top: -0.39em;
.heading {
  position: relative;
  font-weight: normal;
  font-size: 3rem;
  @include respond-to($gt-sm) {
    font-size: 4rem;
  }
  background-image: linear-gradient(0, transparent 33%, $primary 33%, $primary 90%, transparent 90%);
  background-position: 0 .95em;
  background-repeat: repeat-x;
  background-size: 2px 0.25em;
}

//.heading::after {
//  content: "";
//  position: absolute;
//  top: 75%;
//  height: 5px;
//  width: 100%;
//  left: 0;
//  background-color: green;
//  z-index: -1;
//}

.primary{
  background-image: linear-gradient(0, transparent 33%, $primary 33%, $primary 90%, transparent 90%);

}

.secondary {
  background-image: linear-gradient(0, transparent 33%, $secondary 33%, $secondary 90%, transparent 90%);

}

.accent {
  background-image: linear-gradient(0, transparent 33%, $accent 33%, $accent 90%, transparent 90%);
}
