@import "../../../../styles/variables";
@import "../../../../styles/breakpoints";

.navItem {
  position: relative;
  margin: 0 20px 0 0;
  padding: 20px 20px 20px 0;
  width: 100%;
  cursor: pointer;
  @include respond-to($gt-sm) {
    margin: 0 20px;
    padding: 20px;
    width: fit-content;
  }
}

.navLink {
  position: relative;
  text-transform: uppercase;
}

.navLink::after {
  content: "";
  position: absolute;
  top: 75%;
  height: 5px;
  width: 100%;
  left: 0;
  background-color: $primary;
  z-index: -1;
  opacity: 0;
}

.primary::after {
  background-color: $primary;
}
.secondary::after {
  background-color: $secondary;
}
.accent::after {
  background-color: $accent;
}

.navItem:hover .navLink::after{
  opacity: 1;
  transition: opacity .4s;
}
