@import "variables";
@import "buttons";
@import "breakpoints";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  color: $dark;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  font-family: $secondary-font;
}
h2 {
  font-size: 1.25em;
}
@include respond-to($gt-sm) {
  h2 {
    font-size: 1.5em;
  }
}
