@import "variables";
@import "buttons";
@import "breakpoints";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $dark;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1.25em;
}
@include respond-to($gt-sm) {
  h2 {
    font-size: 1.5em;
  }
}
